# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Production
dist
build

# Misc
.DS_Store
*.local
*.log

# IDE
.idea
.vscode
*.swp
*.swo

# Environment files
.env*.local

# Type definitions
*.tsbuildinfo

# Cypress
cypress/videos
cypress/screenshots

# MSW
public/mockServiceWorker.js

# SonarQube
.scannerwork
eslint-report.json

# Orval 自動生成ファイル
src/api/generated/*
!src/api/generated/.gitkeep
src/api/model/*
!src/api/model/.gitkeep
